/* XIAO nRF52840: use i2c0 on D4/D5 for SHT4x (i2c1 not working on this setup). */
&pinctrl {
	i2c0_on_d4_d5_default: i2c0_on_d4_d5_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 4)>,
				<NRF_PSEL(TWIM_SCL, 0, 5)>;
		};
	};

	i2c0_on_d4_d5_sleep: i2c0_on_d4_d5_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 4)>,
				<NRF_PSEL(TWIM_SCL, 0, 5)>;
			low-power-enable;
		};
	};
};

&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_on_d4_d5_default>;
	pinctrl-1 = <&i2c0_on_d4_d5_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	sht4x: sht4x@44 {
		compatible = "sensirion,sht4x";
		reg = <0x44>;
		repeatability = <2>; /* high */
	};
};

&i2c1 {
	status = "disabled";
};

/ {
	buttons {
		compatible = "gpio-keys";
	};
};

&usbd {
	status = "okay";
};

/* Wake button (optional):
 * Add an alias to a GPIO pin you choose, for example:
 *
 * / {
 *   aliases {
 *     wake_btn = &user_button0;
 *   };
 *
 *   user_button0: user_button0 {
 *     gpios = <&gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
 *     status = "okay";
 *   };
 * };
 */
